@media only screen and (max-width: 768px) {
  body {
    display: flex;
  }

  #root {
    display: flex;
    width: 100%;
  }

  .input {
    margin-bottom: 1.5rem;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 0rem;
  }

  .cards {
    width: 20rem;
    height: 20rem;
    margin-top: 5rem;
    flex-direction: column-reverse;
  }

  .main-bg {
    position: absolute;
    width: 100%;
    height: 40%;
  }

  .front-card,
  .back-card {
    color: #fff;
    height: 10.5rem;
    width: 17.5rem;
    background-position: center;
  }

  .card-number-text {
    font-size: 18px;
    letter-spacing: 0.1rem;
  }

  .name-month-cont > * {
    font-size: 14px;
  }

  .front-card {
    position: relative;
    top: -3.9rem;
  }
}
